doctype html
html
  head
    meta(chaset='UTF-8')
    link(rel='stylesheet' type='text/css' href='css/app.css')
    link(rel='stylesheet' type='text/css' href='css/display.css')
    link(rel='stylesheet' type='text/css' href='css/area.css')
    link(rel='stylesheet' type='text/css' href='css/design.css')
    script(src='js/client-bundle.js')
    title
      |Electron
  body
    .gameArea
      .mainWindow
      .menu
